# test file
test/*
test*
dataModel.json

# package
node_modules/*
package-lock.json

# Serial number
database/SerialNumber.txt
database/db_data_model*

# log file
log/*

#ca-cert file
# genieacs-sim/ca-cert.pem
